@layer components {
  .border-box {
    border: 4px solid black;
    border-radius: 0px;
  }

  .border-box-xl {
    border: 8px solid black;
    border-radius: 0px;
  }

  .box-shadow-extend {
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    transition: box-shadow ease-out 0.1s;
  }

  .box-shadow-extend:hover,
  .box-shadow-extend:focus,
  .box-shadow-extend:active {
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
  }

  .box-shadow-extend-xl {
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
    transition: box-shadow ease-out 0.1s;
  }

  .box-shadow-extend-xl:hover,
  .box-shadow-extend-xl:focus,
  .box-shadow-extend-xl:active {
    box-shadow: 16px 16px 0px 0px rgba(0, 0, 0, 1);
  }

  .box-shadow-trans-retract {
    border-radius: 0px;
    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.75);
    transition: box-shadow ease-out 0.2s;
  }

  .box-shadow-trans-retract:focus,
  .box-shadow-trans-retract:active {
    outline-width: 0px;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  }

  .text-stroke {
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }

  .text-stroke-lg {
    -webkit-text-stroke-width: 6px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }

  .text-stroke-xl {
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: black;
    paint-order: stroke fill;
  }
}
