@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&family=Jersey+20&display=swap");

.jersey-20 {
  font-family: "Jersey 20", serif;
  font-weight: 400;
  font-style: normal;
}

.jersey-15 {
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
}

.jersey-10 {
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}
