@import url("https://fonts.googleapis.com/css2?family=Jersey+10&family=Jersey+15&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --paragraph: 255, 255, 255;
  --accent: 249, 137, 3;
  --secondary: 76, 50, 50;
  --shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  --shadow-trans: 4px 4px 0px 0px rgba(0, 0, 0, 0.25);
  --background: 198, 39, 39;

  background-color: rgba(var(--background));
  background-image: url("./assets/img/background/Rock_Paper_Scissors_Red2.gif");
}

.jersey-15 {
  font-family: "Jersey 15", serif;
  font-weight: 400;
  font-style: normal;
}

.jersey-10 {
  font-family: "Jersey 10", serif;
  font-weight: 400;
  font-style: normal;
}

.text-stroke {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: black;
  paint-order: stroke fill;
}

.text-stroke-lg {
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: black;
  paint-order: stroke fill;
}

.text-stroke-xl {
  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: black;
  paint-order: stroke fill;
}

.border-box {
  border: 4px solid black;
  border-radius: 0px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
}

.border-box-xl {
  border: 8px solid black;
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1);
}

.box-trans {
  background-color: rgba(var(--secondary), 0.75);
  box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.75);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
